@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive;
}

.attribution {
  display: flex;
  justify-content: center;
  background-color: rgba(85, 107, 47, 0.5);
  color: hsl(0deg, 0%, 100%);
  padding: 1rem 0;
}

.attributionLinks {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  padding: 0 0.5rem;
  font-style: italic;
}