@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

.attribution {
  display: flex;
  justify-content: center;
  background-color: rgba(85, 107, 47, 0.5);
  color: hsl(0deg, 0%, 100%);
  padding: 1rem 0;
}

.attributionLinks {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  padding: 0 0.5rem;
  font-style: italic;
}

/* Box-shadow para tarjetas
box-shadow: 1px 0px 31px -9px rgba(46,20,20,0.75);
-webkit-box-shadow: 1px 0px 31px -9px rgba(46,20,20,0.75);
-moz-box-shadow: 1px 0px 31px -9px rgba(46,20,20,0.75);
            */
.wrapper {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  display: grid;
  gap: 25px;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
  grid-template-rows: 60px auto auto auto auto auto 60px;
  text-align: left;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
  border-radius: 7px;
  box-shadow: 1px 0px 31px -9px rgba(46, 20, 20, 0.75);
  -webkit-box-shadow: 1px 0px 31px -9px rgba(46, 20, 20, 0.75);
  -moz-box-shadow: 1px 0px 31px -9px rgba(46, 20, 20, 0.75);
}
.card1 p,
.card1 span,
.card2 p,
.card2 span,
.card3 p,
.card3 span,
.card4 p,
.card4 span,
.card5 p,
.card5 span {
  color: darkgray;
}

.card1 {
  background-color: hsl(263deg, 50%, 44%);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  grid-column: 2/4;
  grid-row: 2/4;
}
.card1 h3,
.card1 h4 {
  color: white;
}

.card2 {
  background-color: hsla(217deg, 34%, 24%, 0.664);
  grid-column: 4/5;
  grid-row: 2/4;
}
.card2 h3,
.card2 h4 {
  color: white;
}

.card3 {
  background-color: hsl(0deg, 0%, 100%);
  grid-column: 5/6;
  grid-row: 2/6;
}
.card3 h3,
.card3 h4 {
  color: hsl(217deg, 30%, 21%);
}

.card4 {
  background-color: hsl(0deg, 0%, 100%);
  grid-column: 2/3;
  grid-row: 4/6;
}
.card4 h3,
.card4 h4 {
  color: hsl(217deg, 30%, 21%);
}

.card5 {
  background-color: hsl(217deg, 30%, 21%);
  grid-column: 3/5;
  grid-row: 4/6;
}
.card5 h3,
.card5 h4 {
  color: white;
}

.Avatar {
  border-radius: 50%;
  margin: 2rem 2rem 0 2rem;
}

h4,
span {
  bottom: 43px;
  font-size: 1.1rem;
  left: 95px;
  margin-right: 2rem;
  position: relative;
}

h3 {
  font-size: 2rem;
  margin: 0rem 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin: 2rem;
}

/*grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
  grid-template-rows: 30px 1fr 1fr 1fr 1fr  30px; */
@media screen and (max-width: 700px) {
  .card1 {
    grid-column: 2/6;
    grid-row: 2/3;
  }

  .card2 {
    grid-column: 2/6;
    grid-row: 3/3;
    height: fit-content;
  }

  .card3 {
    grid-column: 2/6;
    grid-row: 4/5;
  }

  .card4 {
    grid-column: 2/6;
    grid-row: 5/5;
    height: fit-content;
  }

  .card5 {
    grid-column: 2/6;
    grid-row: 6/7;
    height: fit-content;
  }
}

/*# sourceMappingURL=style.css.map */
